.telaDeCompras{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 30px;
}

.telaDeCompras img{
   width: 60%;
   height: 100%;
}
.telaDeComprasRight{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.telaDeComprasRightBottom{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.telaDeComprasRightTop{
    /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 230px; */
    
}
.telaDeComprasRightBottomItens{
    margin-bottom: 30px;
}
@media (max-width:800px) {
    .telaDeCompras{
     
        grid-template-columns: 1fr;
     
    }
    .telaDeComprasRightBottom{
        margin-bottom: 10px;
    }
    .telaDeCompras img{
        width: 100%;
        
     }
    .telaDeComprasRightBottomItens{
        margin-bottom: 10px;
    }
}