.containerRotas{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
    padding:0 130px;
}
.sidebarRotas{
    margin-right: 20px;
}
.sidebarMibile{
   display: none;
 
}

.modalNavegacao{
    display: none;
}
.cardsCarregando{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
}
@media (max-width:500px) {
    .cardsCarregando{
        grid-template-columns: 1fr;
    }
    .modalNavegacao{
        display: flex;
        justify-content: flex-end;
        margin:0px 10px;
    }
    .containerRotas {
        grid-template-columns: 1fr;
        padding: 3%;
    }
    .sidebar{
        display: none;
    }
    .sidebarRotas{
        display: none;
    }
    .sidebarMibile{
        display: flex;
        justify-content: flex-end;
        margin-top: 3px;
    }
    /* .navegacaoHomeLink{
        display: none;
    } */
  }