.containerRotas{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
    padding:0 130px;
}
.sidebarRotas{
    margin-right: 20px;
}
.sidebarMibile{
   display: none;
 
}
@media (max-width:500px) {
    .containerRotas {
        grid-template-columns: 1fr;
    }
    .sidebar{
        display: none;
    }
    .sidebarRotas{
        display: none;
    }
    .sidebarMibile{
        display: flex;
        justify-content: flex-end;
        margin-top: 3px;
    }
    .navegacaoHomeLink{
        display: none;
    }
  }