.listaProdutos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: auto;
    width: 100%; 
    padding: auto;
    
}
.paginacao{
    margin: 15px;
    display: flex;
    justify-content: center;
}
@media (max-width:800px) {
    .listaProdutos{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}
